/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el logo y el texto */
}

.logo-img {
    width: 50px; /* Tamaño del logo */
    height: auto;
    border-radius: 5px; /* Opcional: bordes redondeados */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Product Styles */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Movimiento suave */
}

.producto:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto h3 {
    margin: 10px 0;
    font-size: 18px;
}

.producto p {
    color: #555;
    margin-bottom: 15px;
}

.boton {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.boton:hover {
    background-color: #555;
}
